<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<li th:text="|인가코드 = ${code}|">code</li>
<li th:text="|유효토큰 = ${access_token}|">code</li>
<li th:text="|사용자정보 = ${userInfo}|">code</li>
<li th:text="|동의정보 = ${agreementInfo}|">code</li>
<!--<li th:text="|jwt토큰 = ${jwtToken}|">code</li>-->
<a href="https://kauth.kakao.com/oauth/logout
?client_id=653c5c4f76acf44b796a7c0e107d3d6f
&logout_redirect_uri=http://localhost:8000/user-service/">로그아웃</a>
<button onclick="jwtcheck()"> jwt 토큰 검사</button>
</body>
</html>
<script !src="">
  function jwtcheck(){
    var data = "${jwtToken}";
    console.log(data);
    // var adress = "http://localhost:8080/jwtcheck"
    // var sendData = `${jwtToken}`;
    // $.ajax({
    //   url:adress,
    //   type:'POST',
    //   data: {"jwtToken": sendData},
    //   dataType: 'html',
    //   success : function (data){
    //     alert(data);
    //   }
    // })
  }
</script>